{% extends 'index.html' %}
{% load static %}

{% block titulo%}
{{ verposts.titulo }}
{% endblock titulo%}

{% block imagen %} 
{{verposts.imagen_referencial.url}}
{% endblock imagen %}

{% block titulo_principal%}
<h2>{{ verposts.titulo | upper }}<h/2>
{% endblock titulo_principal%}

{% block titulo_secundario%}
Escrito por: {{ verposts.autor }}
{% endblock titulo_secundario%}

{% block contenido%}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <h2>{{verposts.titulo}}</h2>

                <h5>{{verposts.descripcion}}</h5>


                {{verposts.contenido | safe}}

                    <p class="post-meta">
                        Escrito por:
                        <a href="#!"> {{ verposts.autor }} </a>
                        <br>
                         Fecha: {{ verposts.fecha_publicacion}}
                    </p> 
            </div>
        </div>
    </div>
</article>

{% endblock contenido%}