{% extends 'index.html' %}
{% load static %}

{% block titulo%}
Sobre Nosotros
{% endblock titulo%}

{% block imagen %} 
{% static "assets/img/nos.png"%}
{% endblock imagen %}

{% block titulo_principal%}
Sobre Nosotros
{% endblock titulo_principal%}

{% block titulo_secundario%}
Breve biografia sobre el grupo
{% endblock titulo_secundario%}

{% block contenido%}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Somos un grupo de estudiantes del programa de la provincia del Chaco INFORMATORIO.</p>
                <p>Este es nuestro traebajo final, y para ello preparamos un blog completamente funcional.</p>
                <p>El mismo está pensado para proponer propuestas y debatir ideas respecto al desarrollo sostenible.</p>
            </div>
        </div>
    </div>
</main>
{% endblock contenido%}