{% extends 'index.html' %}
{% load static %}

{% block titulo%}
{{ verposts.titulo }}
{% endblock titulo%}

{% block imagen %} 
{{verposts.imagen_referencial.url}}
{% endblock imagen %}

{% block titulo_principal%}
<h2>{{ verposts.titulo | upper }}<h/2>
{% endblock titulo_principal%}

{% block titulo_secundario%}
Escrito por: {{ verposts.autor }}
{% endblock titulo_secundario%}

{% block contenido%}

{{verposts.contenido | safe }}

<p class="post-meta">
    Escrito por:
    <a href="#!"> {{ verposts.autor }}</a>
    <br>
    En fecha: {{ verposts.fecha_publicacion}}
</p>
       
{% endblock contenido%}